         <!--Widget ID (each widget will need unique ID)-->
        <sa-widget  [colorbutton]="false" 
                    [editbutton]="false" 
                    [deletebutton]="false"
                    [fullscreenbutton]="false">
          <!-- widget options:
          usage: <sa-widget [editbutton]="false">

          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [custombutton]="false"
          [collapsed]="true"
          [sortable]="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
            <h2>角色信息</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form  #roleDetailForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                <fieldset>
                  <div class="form-group">
                    <label for="id">角色Id：</label>
                    <div *ngIf="saveMode === 1">
                      <input name="id" class="form-control"  type="text" [(ngModel)]="role.id" #id="ngModel"  validateRoleId >
                      <div *ngIf="id.errors && (id.dirty)" class="alert alert-danger">
                          <div [hidden]="!id.errors.roleIdEmpty">
                            角色Id不能为空
                          </div>
                          <div [hidden]="!id.errors.roleExist">
                            角色Id已存在，请尝试其他角色Id
                          </div>
                      </div>
                    </div>
                    <div *ngIf="saveMode != 1">
                      {{role.id}}
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <label for="name">角色名：</label>
                    <input class="form-control"  type="text" name="name" #name="ngModel" [(ngModel)]="role.name"  required>
                    <div *ngIf="name.errors && (name.dirty)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">
                        角色名不能为空
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div *ngIf = "saveMode!==0" class="form-actions">
                  <button class="btn btn-primary" type="submit" [disabled]="!roleDetailForm.form.valid">
                    <i class="fa fa-save"></i>
                    保存
                  </button>
                </div>
              </form>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </sa-widget>
        <!-- end widget -->