<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['后台管理', '角色管理']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <sa-widget [editbutton]="false" [togglebutton]="false" [fullscreenbutton]="false" [deletebutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-tags"></i> </span>
            <h2>角色管理</h2>
            <div class="widget-toolbar">
              <button class="btn btn-default" (click)="addRoleModalShow()">
                <i class="fa fa-plus"></i> <span class="hidden-mobile">添加角色</span>
              </button>
              <button #delRolesButton class="btn btn-default" (click)="deleteButtonClick()" [disabled]="delRolesButtonDisabled">
                <i class="fa fa-minus"></i> <span class="hidden-mobile">删除角色</span>
              </button>
            </div>
          </header>
          <div>
            <div class="widget-body no-padding">
              <ag-grid-ng2 #rolesGrid style="width: 100%; height: 350px;" class="ag-fresh"    
                  [gridOptions]="gridOptions" 
                  [columnDefs]="columnDefs"  
                  [rowData]="rowData"
                  (rowDoubleClicked)="dblClickRow($event)"
                  (rowSelected)="setDelButtonStatus()"
                  (modelUpdated)="setDelButtonStatus()"
                  
              >
              </ag-grid-ng2>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>

 
  <div class="modal fade" bsModal #roleDetailModal="bs-modal" [config]="{backdrop: true}"
      tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="roleDetailModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{modalTitle}}</h4>
        </div>
        <div class="modal-body">
          <role-detail #roleDetail  (onSaveFinished)="saveFinished($event)"></role-detail>
        </div>
        
      </div>
    </div>
    
  </div>

</div>