/* You can add global styles to this file, and also import other style files */

.ng-valid:not(form).ng-valid:not([formgroupname])  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form).ng-invalid:not([formgroupname]).ng-invalid:not(.ng-pristine)  {
  border-left: 5px solid #a94442;  
}

/*
    没有的话,菜单不显示竖线
*/
nav>ul li>ul::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #7A7A7A
}