         <!--Widget ID (each widget will need unique ID)-->
        <sa-widget  [colorbutton]="false" 
                    [editbutton]="false" 
                    [deletebutton]="false"
                    [fullscreenbutton]="false">
          <!-- widget options:
          usage: <sa-widget [editbutton]="false">

          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [custombutton]="false"
          [collapsed]="true"
          [sortable]="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
            <h2>用户信息</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form [formGroup]="userDetailForm" novalidate>
                <fieldset>     
                  <div class="form-group">
                    <label for="id">用户名：</label>
                    <div *ngIf="saveMode === 1">
                      <input formControlName="id" id="id" class="form-control"  type="text">
                      <div *ngIf="id.errors && (id.dirty)" class="alert alert-danger">
                          <div [hidden]="!id.errors.useridEmpty">
                            用户名不能为空
                          </div>
                          <div [hidden]="!id.errors.userExist">
                            用户名已存在，请尝试其他用户名
                          </div>
                      </div>
                    </div>
                    <div *ngIf="saveMode != 1">
                      {{user.id}}
                    </div>
                  </div>              
                  <div class="form-group">
                    <label for="name">姓名：</label>
                    <input class="form-control"  type="text" formControlName="name" id="name">
                    
                  </div>
                 
                </fieldset>
                <div *ngIf = "saveMode!==0" class="form-actions">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    保存
                  </button>
                </div>
              </form>
              <p>Form value: {{ userDetailForm.value | json }}</p>
              <p>Form status: {{ userDetailForm.status | json }}</p>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </sa-widget>
        <!-- end widget -->