         <!--Widget ID (each widget will need unique ID)-->
        <sa-widget  [colorbutton]="false" 
                    [editbutton]="false" 
                    [deletebutton]="false"
                    [fullscreenbutton]="false">
          <!-- widget options:
          usage: <sa-widget [editbutton]="false">

          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [custombutton]="false"
          [collapsed]="true"
          [sortable]="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
            <h2>用户信息</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form [formGroup]="userDetailForm" novalidate>
                <fieldset>     
                  <div class="form-group">
                    <label for="id">用户名：</label>
                    <div >
                      <input formControlName="id" id="id" class="form-control"  type="text">
                      
                    </div>
                   
                  </div>              
                  <div class="form-group">
                    <label for="name">姓名：</label>
                    <input class="form-control"  type="text" formControlName="name" id="name">
                    
                  </div>
                 
                </fieldset>
                
              </form>
              <p>Form value: {{ userDetailForm.value | json }}</p>
              <p>Form status: {{ userDetailForm.status | json }}</p>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </sa-widget>
        <!-- end widget -->