         <!--Widget ID (each widget will need unique ID)-->
        <sa-widget  [colorbutton]="false" 
                    [editbutton]="false" 
                    [deletebutton]="false"
                    [fullscreenbutton]="false">
          <!-- widget options:
          usage: <sa-widget [editbutton]="false">

          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [custombutton]="false"
          [collapsed]="true"
          [sortable]="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
            <h2>用户信息</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form  #userDetailForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                <fieldset>
                  <div class="form-group">
                    <label for="id">用户名：</label>
                    <div *ngIf="saveMode === 1">
                      <input name="id" class="form-control"  type="text" [(ngModel)]="user.id" #id="ngModel"  validateUserid >
                      <div *ngIf="id.errors && (id.dirty)" class="alert alert-danger">
                          <div [hidden]="!id.errors.useridEmpty">
                            用户名不能为空
                          </div>
                          <div [hidden]="!id.errors.userExist">
                            用户名已存在，请尝试其他用户名
                          </div>
                      </div>
                    </div>
                    <div *ngIf="saveMode != 1">
                      {{user.id}}
                    </div>
                  </div>
                  <div class="form-group" *ngIf = "saveMode !== 0" >
                    <label for="password">密码：</label>
                    <input class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"  type="password" required>
                    <div *ngIf="password.errors && (password.dirty)" class="alert alert-danger">
                      <div [hidden]="!password.errors.required">
                        密码不能为空
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">姓名：</label>
                    <input class="form-control"  type="text" name="name" #name="ngModel" [(ngModel)]="user.name"  required>
                    <div *ngIf="name.errors && (name.dirty)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">
                        姓名不能为空
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="role">角色：</label>
                    <input class="form-control" type="text" name="role" #role="ngModel" [(ngModel)]="user.role">
                  </div>
                </fieldset>
                <div *ngIf = "saveMode!==0" class="form-actions">
                  <button class="btn btn-primary" type="submit" [disabled]="!userDetailForm.form.valid">
                    <i class="fa fa-save"></i>
                    保存
                  </button>
                </div>
              </form>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </sa-widget>
        <!-- end widget -->